*{
  margin: 0;
  padding: 0;
}

#sheetContainer{
  display: grid;
  grid-template-columns: 50px repeat(26 , 100px);
  grid-template-rows: repeat (20, 100px);
}
 
.col{
  border: 1px solid grey;
  box-sizing: border-box;
}